<div class="container">
  <h1>Location</h1>
  <p><a href="http://hcmus.edu.vn/">Trường khoa học tự nhiên</a></p>
  <iframe width="1000" height="450" src="//www.google.com/maps/embed/v1/place?q=University+of+Science,+Downtown+Campus+227+Nguyễn+Văn+Cừ
  &zoom=15
  &key=AIzaSyA-1miY4lBv82LfuJSvYIj2sM0gnZCJpkw">
</iframe>
</div>
<footer class="footer">
  <div class="container text-center">
    <p class="text-muted"> Made by <a href="mailto:nguyenvanthanhtu@gmail.com?Subject=Hello">Thanh Tú</a> and Hùng Duy</p>
  </div>
