<div class='container'>
  <h1 class="text-center"><strong>CONTACT</strong></h1>
  <p>Name: Nguyễn Văn Thanh Tú</p>
  <p>Tel: 0948588059</p>
  <p>Name: Mai Hùng Duy</p>
  <p>Tel: 123456789</p>

  <h3>Leave us your email</h3>
  <

    <h1>Location</h1>
    <p><a href="http://hcmus.edu.vn/">Trường khoa học tự nhiên</a></p>
    <iframe width="1000" height="450" src="//www.google.com/maps/embed/v1/place?q=University+of+Science,+Downtown+Campus+227+Nguyễn+Văn+Cừ
    &zoom=15
    &key=AIzaSyA-1miY4lBv82LfuJSvYIj2sM0gnZCJpkw">
</iframe>




</div>
